body{
    background: url("https://articlebio.com/uploads/news/2018/01/18/two-unsuccessful-married-life-stage-magician-criss-angel-is-he-single-or-trying-to-date-someone.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 24px;
    color: white;
    font-weight: 700;
}


h1 {
    font-size: 34px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

p {
    font-size: 24px;
    padding-bottom: 15px;

}